<body>
    <div id="section-2">
        <div class="content">
            <h1> Más Información </h1>
            <form [formGroup]="formGroup">
                <div class="form-element">
                    <input placeholder="Nombre" name="name" formControlName="name" type="text">
                </div>
                <div class="form-element">
                    <input placeholder="Correo Electrónico" name="email" formControlName="email" type="text">
                </div>
                <div class="form-element">
                    <button type="submit"> Enviar Datos </button>
                </div>
            </form>
        </div>
    </div>
</body>