<body>
    <!-- <div id="section-2">
        <div class="content">
            <h1> Más Información </h1>
            <form [formGroup]="formGroup">
                <div class="form-element">
                    <input placeholder="Nombre" name="name" formControlName="name" type="text">
                </div>
                <div class="form-element">
                    <input placeholder="Correo Electrónico" name="email" formControlName="email" type="text">
                </div>
                <div class="form-element">
                    <button type="submit"> Enviar Datos </button>
                </div>
            </form>
        </div>
    </div> -->

    <hr><br><br><br><br><br>

    <div id="section-2">
        <div class="content">
            <form [formGroup]="loginForm">
                <div class="form-element">
                    <input formControlName="usuario" placeholder="Usuario" type="text">
                </div>
                <span *ngIf="mensajeUsuario != ''"></span>
                {{mensajeUsuario}}
                
                <div *ngIf="loginForm.invalid && (loginForm.dirty || loginForm.touched)" class="alert alert-danger"></div>

                <div class="form-element">
                    <input formControlName="password" type="password" placeholder="Contraseña">
                </div>
                {{mensajePassword}}

                <div class="form-element">
                    <button (click)="validaLoginForm()">Enviar Errores</button>
                    <button (click)="validaLoginForm()" [disabled]="!loginForm.valid">Enviar</button>
                </div>
            </form>
            <!-- {{usuario}}
            {{password}} -->
        </div>
    </div>

    <script>alert(`Form Status: {{ loginForm.status }}`)</script>
    
    
</body>