$primary_color: #5c7e8f;
$secundary_color: #5a6e77;



$color_titles: #FFF;



$white: #FFF;
$gray: rgb(177, 157, 157);
$black: #000;
$blue: rgb(0, 64, 255);
$red: rgb(255, 0, 0);

$deep_blue: #001656;
$r_deep_blue: 0;
$g_deep_blue: 22;
$b_deep_blue: 86;

$light_blue: #4D86FF;
$r_light_blue: 25;
$g_light_blue: 117;
$b_light_blue: 255;

$alpha_cover: 0.6;

$fuente: 'Century Gothic', sans-serif;


$picture-slide:  "../../assets/slides/1.jpg";